/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Author     : Mairelis Arroyo
*/

/*==========Estilo Header y footer========================*/
header{
    background-color: #F8F8FF;
    color: #E9967A;
    clear: left;
    text-align: center;
    background-position: top;
    padding: 1em;   
}
h2{
    text-align: center;
}
p{
    text-align: justify;
}
#sectHistoria{
    width: 800px;
    padding-bottom: 60px;
    padding-top:40px;
    margin: 0px auto;
    text-align: center;
}
#sectDocente{
    width: 800px;
    padding-bottom: 60px;
    padding-top:40px;
    margin: 0px auto;
    text-align: left;
}
#sectInstitucion{
    width: 60%;
    padding-bottom: 60px;
    padding-top:40px;
    margin: 0px auto;
    text-align: left;
    float: left;

}
aside {
    float: right;
    width: 35%;
    border-left: 2px solid #cccccc;
    text-align: justify;
    padding-bottom: 60px;
    padding-top:40px;
    
    /*visibility: hidden;*/
}
figure {
    display: table; 
    margin: 0 auto;
}
.imagenDocentes{
    width: 100px;
    height: 100px;
}
/*td{
     border: 1px solid black;
}*/
.tableDocentes {
    width: auto;
    text-align: center;
    border-collapse:collapse;
    float: left;
    top: 0%; 
    border-radius: inherit;
    border: #ccc;
    /*white-space: nowrap;*/
}
li{
    list-style: none;
}
/*============Barra Redes Sociales==========================*/
.icon {
    color: white;
    text-decoration: none;
    padding: .4rem; 
    text-align: left;
}
.icon-facebook {
    background: #2E406E;
}
.icon-phone {
    background: #dcf8c6;
}
.icon-linkedin {
    background: #00a0dc;
}
.icon-google{
    background: #E83028;
}
/*========================================================*/
