/* ==========================================================================
   Author's custom styles Mairelis Arroyo
   ========================================================================== */
@charset "UTF-8";
/*Eliminamos los margenes y paddings que agrega el navegador por defecto*/
*{
    box-sizing: border-box;
}
body {
    margin:0;
    padding:0;
    width: 100%;
    height: 100%;
    border:0;
    position: relative;
    font-family: Helvetica, Arial, sans-serif; 
}
/*==========Estilo Header y footer========================*/
header {
    background-color: #F8F8FF;
    color: #E9967A;
    clear: both;
    text-align: center;
    background-position: top;
    padding: 0.2em;
}
.divFooter{
    margin: auto;
    display: flex;
    width: 100%;
    height: auto;   
    position: relative;
    float: bottom;
    clear: both;
    z-index: 0;
}
footer {
    background-color: black; 
    width: 100%;
    color: white;
    margin-top: -50px;
    height:50px;
    text-align: center;
}
/*@media only screen and (max-width:620px) /* For mobile phones: 
//{
//    #cabeceraPrincipal, #divContAsidSec, #divFooter{ width: 100%}
} */
/*.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}*/
/*===============Estilo barra de navegacion de los dropdown====================*/
.divContAsidSec{
     margin: auto;
     width: auto;
     height: auto;
     position: relative;
     /*display: flex;*/
}
aside.container{
    width: auto;
    height: auto;
    margin: auto;
    left: 12%;
    top: 32%;
    transform: translate(-55%, -55%);
    -webkit-transform: translate(-50%, -50%);
    float: left;
    clear: left;  
    margin-top: 2%;
    position: absolute;
    z-index: 1;

    /*border: 5px solid gray;
    bottom: 0;*/  
}
nav {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 1em;
}
nav ul {
    list-style-type: none;
    padding: 0;
}  
nav ul a {
    text-decoration: none;
}
/*==========Seccion================*/
.containerSection {
    width: 75%;
    height: 400px;
    float: right;
    clear: right;
    margin: auto;
    overflow: visible;
    position: relative;
}
iframe { 
    margin: auto; 
    padding: auto; 
    width: 100%;
    height: 100%; 
    display:block; 
    border:none;
}
/*============Barra Redes Sociales==========================*/
.social-bar {
    left: 0;
    top: 30%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    z-index: 100;
}
.icon {
    color: white;
    text-decoration: none;
    padding: .7rem;
    display: flex;
    transition: all .5s;
}
.icon:first-child {
    border-radius: 1rem 0 0 0;
}
.icon:last-child {
    border-radius: 0 0 0 1rem;
}

.icon:hover {
    padding-right: 3rem;
    border-radius: 1rem 0 0 1rem;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
}
.icon-facebook {
    background: #2E406E;
}

.icon-twitter {
    background: #339DC5;
}

.icon-youtube {
    background: #E83028;
}

.icon-instagram {
    background: #3F60A5;
}
.icon-linkedin {
    background: #00a0dc;
}
.icon-googleplus{
    background: white;
}

/*========================================================*/
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
    
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
/*====================================*/
