/* ==========================================================================
   Author's custom styles Mairelis Arroyo
   ========================================================================== */
@charset "UTF-8";
/*Eliminamos los margenes y paddings que agrega el navegador por defecto*/
* {
    margin:0;
    padding:0;
    border:0;
    outline:none;
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
}

.estiloFuente{
    font-family: "Georgia, Times New Roman, serif";
}

div.container {
    width: 100%;
    border: 5px solid gray;
}
/*==========Estilo Header y footer========================*/
header {
    background-color: #F8F8FF;
    color: #E9967A;
    clear: left;
    text-align: center;
    background-position: top;
    padding: 1em;   
}
footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
    bottom: 0;
}
/*===============Estilo barra de navegacion de los dropdown====================*/
nav {
    float: left;
    max-width: 250px;
    margin: 0;
    padding: 1em;
}
nav ul {
    list-style-type: none;
    padding: 0;
}  
nav ul a {
    text-decoration: none;
}
/*============Barra Redes Sociales==========================*/
.social-bar {
    position: fixed;
    left: 0;
    top: 30%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    z-index: 100;
}
.icon {
    color: white;
    text-decoration: none;
    padding: .7rem;
    display: flex;
    transition: all .5s;
}
.icon:first-child {
    border-radius: 1rem 0 0 0;
}
.icon:last-child {
    border-radius: 0 0 0 1rem;
}

.icon:hover {
    padding-right: 3rem;
    border-radius: 1rem 0 0 1rem;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
}
.icon-facebook {
    background: #2E406E;
}

.icon-twitter {
    background: #339DC5;
}

.icon-youtube {
    background: #E83028;
}

.icon-instagram {
    background: #3F60A5;
}
.icon-googleplus {
    background: #3F60A5;
}
.icon-linkedin {
    background: #2E406E;
}
.icon-googleplus{
    background: white;
}

/*========================================================*/
